OWNER_NAME="⚔  PSYCHO_BABA   ⚔"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "PSYCHO_BABA"
IMAGE_MENU= "https://telegra.ph/file/04ec6715f1ac266561302.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛PSYCHO_BABA᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
